<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415039696789-7cphedk5tii58enr5eii7c8atsbkmjqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415039696789-7cphedk5tii58enr5eii7c8atsbkmjqv</string>
	<key>API_KEY</key>
	<string>AIzaSyArUokQtxWW1GIj6wAUeDuWPAvGDUbx2fM</string>
	<key>GCM_SENDER_ID</key>
	<string>415039696789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devicetracker.atronIndia</string>
	<key>PROJECT_ID</key>
	<string>devicetracker-44c14</string>
	<key>STORAGE_BUCKET</key>
	<string>devicetracker-44c14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415039696789:ios:c2b269985601892527909c</string>
</dict>
</plist>